<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-list-ul"></i>&nbsp;&nbsp;<%= t('ui.vendor_companies_list') -%></h1>
      <p><%= @companies_list_description -%></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= companies_path -%>"><%= t('ui.vendor_companies_list') -%></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table class="table table-hover table-bordered" id="companies-table">
            <thead>
              <tr>
                <th><%= t('company.created_at') -%></th>
                <th><%= t('company.name') -%></th>
                <th><%= t('company.address') -%></th>
                <th><%= t('company.district') -%></th>
                <th><%= t('company.belongs_to_vertical_market') -%></th>
                <% if policy(Company).approve? %>
                  <th><%= t('ui.admin_action') -%></th>
                <% end -%>
              </tr>
            </thead>
            <tbody>
              <% @companies.each do |company| -%>
              <tr>
                <td><%= company.created_at.to_date -%></td>
                <td><%= company.name -%></td>
                <td><%= company.address -%></td>
                <td><%= company.city -%> <%= company.district -%></td>
                <td>
                  <% company.vertical_markets.each do |vm| -%>
                    <span class="badge badge-primary"><%= vm.name -%></span>
                  <% end -%>
                </td>
                <% if policy(Company).approve? %>
                <td>
                  <% if company.approved_at.nil? -%>
                    <%= link_to t('company.approve'), approve_company_path(company), method: :patch, class: 'btn btn-success btn-xs' -%>
                  <% end -%>
                </td>
                <% end -%>
              </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
