<main class="app-content app-content-bg">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-list-ol"></i>&nbsp;&nbsp;<%= t('ui.vendor_list') -%></h1>
      <p><%= @vendor_list_description -%></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= vendors_path -%>"><%= t('ui.vendor_list') -%></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
<!--       <div class="tile">
        <div class="tile-body"> -->
          <table class="table table-hover table-bordered" id="users-table">
            <thead>
              <tr>
                <th><%= t('user.created_at') -%></th>
                <th><%= t('user.name') -%></th>
                <th><%= t('user.title') -%></th>
                <th><%= t('user.contact_information') -%></th>
                <th><%= t('user.belongs_to_company') -%></th>
                <th><%= t('user.belongs_to_vertical_market') -%></th>
                <th><%= t('ui.admin_action') -%></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| -%>
              <tr>
                <td><%= user.created_at.to_date -%></td>
                <td><%= user.name -%></td>
                <td><%= user.title -%></td>
                <td>
                  <%= user.phone -%>
                  <br />
                  <%= user.email -%>
                </td>
                <td>
                  <% user.companies.each do |company| -%>
                    <p><%= company.name -%><span class="badge badge-primary"><%= company.rank -%></span></p>
                  <% end -%>
                </td>
                <td>
                  <% user.vertical_markets.each do |vm| -%>
                    <span class="badge badge-primary"><%= vm.name -%></span>
                  <% end unless user.companies.any? { |c| c.rank == 0 }-%>
                </td>
                <td>
                  <%= link_to t('company.add_user'), new_user_vendor_path(user, company_ids: user.companies.pluck(:id)), class: 'btn btn-success btn-sm' -%>
                </td>
              </tr>
              <% end -%>
            </tbody>
          </table>
<!--         </div>
      </div> -->
    </div>
  </div>
</main>
