<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-sign-in"></i> <%= t('ui.training_user_add') -%></h1>
      <p>培训信息</p>
    </div>
  </div>
  <% @courses.each_with_index do |course, index| -%>
    <% if index.even? -%>
      <div class="row">
    <% end -%>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title"><%= course.title -%></h3>
            <div class="tile-body">
              <%= simple_format course.body -%>
              <br />
              <%= t('course.address') -%>: <%= course.address -%>
            </div>
            <div class="tile-footer">
              <% if current_user.nil? %>
                <a class="btn btn-primary" href="<%= new_user_session_path -%>" role="button"><%= t('ui.training_user_signin') -%></a>
              <% elsif policy(course).update? %>
                <a class="btn btn-primary" href="<%= course_path(course) -%>" role="button"><%= t('ui.training_user_manage') -%></a>
              <% elsif course.users.exists?(current_user.id) -%>
                <a class="btn btn-primary disabled" href="#" role="button"><i class="fa fa-sign-in"></i><%= t('ui.training_user_exist') -%></a>
              <% else -%>
                <%= link_to course_rsvp_path(course, current_user), method: :put, class: 'btn btn-primary', role: 'button', disable_with: t('ui.training_user_exist') do %>
                  <i class="fa fa-sign-in"></i><%= t('ui.training_user_rsvp') -%>
                <% end %>
              <% end -%>
            </div>
          </div>
        </div>
    <% if index.odd? -%>
      </div>
    <% end -%>
  <% end -%>
</main>
