<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;<%= t('ui.course_list') -%></h1>
      <p><%= @vendor_list_description -%></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= vendors_path -%>"><%= t('ui.course_list') -%></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table class="table table-hover table-bordered" id="courses-table">
            <thead>
              <tr>
                <th><%= t('course.title') -%></th>
                <th><%= t('course.belongs_to_vertical_market') -%></th>
                <th><%= t('course.address') -%></th>
                <th><%= t('course.rsvp_count') -%><br /><%= t('course.capacity') -%></th>
                <th><%= t('course.start_time') -%><br /><%= t('course.end_time') -%></th>
                <th><%= t('ui.admin_action') -%></th>
              </tr>
            </thead>
            <tbody>
              <% @courses.each do |course| -%>
              <tr>
                <td><%= link_to course.title, course_path(course) -%></td>
                <td><%= course.vertical_markets.pluck(:name).join(' | ') -%></td>
                <td><%= course.address -%></td>
                <td><%= course.users.count -%><br /><%= course.capacity -%></td>
                <td><%= course.start_time -%><br /><%= course.end_time -%></td>
                <td>
                  <% unless course.published -%>
                    <%= link_to t('course.publish'), publish_course_path(course), method: :patch, class: 'btn btn-success btn-xs' -%>
                    <%= link_to t('course.delete'), course_path(course), method: :delete, class: 'btn btn-danger btn-xs' -%>
                  <% end -%>
                </td>
              </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
