<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-laptop"></i> <%= @course.title -%></h1>
      <p></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="<%= courses_path -%>"><%= t('ui.course_list') -%></a></li>
      <li class="breadcrumb-item"><a href="<%= course_path(@course) -%>"><%= t('ui.course_detail') -%></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="tile">
        <h3 class="tile-title"><%= t('course.rsvp_count') -%>: <%= @course.users.count -%></h3>
        <div class="tile-body">
          <p><%= @course.address -%></p>
<%= form_with model: @course, class: 'form-inline' do |f| %>
  <%= f.select :attend_user_ids, policy_scope(User).where(locked_at: nil).pluck(:name, :id), {}, id: 'attend-users-select', class: 'form-control', multiple: true, style: 'width: 80%;' %>
  <%= f.submit t('form.update'), class: 'btn btn-primary' %>
<% end %>
        </div>
      </div>
    </div>
  </div>
</main>
